---
import "../../assets/iconfont.css";
import Layout from "../layouts/Layout.astro";
// import { Resume } from "../components/Resume";
---

<Layout title="冯秦彬的简历">
  <!-- <Resume /> -->
  <div class="mt-6 max-w-screen-lg md:flex mx-auto">
    <div class="md:w-1/3 p-2 relative">
      <div class="md:fixed">
        <div class="md:block">
          <div class="flex justify-center">
            <img
              class="h-32 w-32 rounded-full mx-auto mx-4"
              src="https://avatars.githubusercontent.com/u/12064746?v=4"
            />
          </div>
          <div class="mb-12 text-center mt-4 justify-center items-center">
            <h1 class="text-2xl text-xl text-gray-800 font-bold">冯秦彬</h1>
            <div class="md:text-lg text-gray-600">前端工程师</div>
            <div class="md:text-lg text-gray-600">八年工作经验</div>
            <div class="text-gray-600 md:hidden mt-1">(wx: fengqinbin811)</div>
          </div>
        </div>
        <div class="mx-4 my-4 hidden md:block">
          <div class="my-5 text-lg text-gray-600 flex">
            <div class="mr-2">
              <span class="iconfont icon-wechat"></span>
            </div>
            fengqinbin811
          </div>
          <div class="my-5 text-lg text-gray-600 flex">
            <div class="mr-2">
              <span class="iconfont icon-Phoneshouji"></span>
            </div>
            17792030921
          </div>
          <div class="my-5 text-lg text-gray-600 flex">
            <div class="mr-2">
              <span class="iconfont icon-email"></span>
            </div>
            463053953@qq.com
          </div>
          <div class="my-5 text-lg text-gray-600 flex">
            <div class="mr-2">
              <span class="iconfont icon-position"></span>
            </div>
            Xi'an
          </div>
          <a
            href="https://github.com/ReinhardtFeng"
            class="my-5 flex"
            target="_blank"
          >
            <div class="mr-2">
              <span class="iconfont icon-github"></span>
            </div>
            <span class="text-blue-500">GitHub</span>
          </a>
        </div>
      </div>
    </div>
    <div class="md:w-2/3 p-2 w-full">
      <div class="mx-4 mb-6">
        <h1 class="mb-4 text-4xl text-gray-700 font-bold">个人评价</h1>
        <p class="text-lg">
          1.六年前端经验，两年PHP后端经验，熟悉微软低代码平台powerApps页面开发，插件编写。以及各种附带工具、熟悉vue全家桶、vite，monoreper、react等、了解TDD开发模式并付诸实践。
        </p>
        <p class="text-lg">
          2.熟悉敏捷开发，了解项目管理相关知识体系，理解敏捷开发管理框架；
        </p>

        <p class="text-lg">3.具有pmp认证；</p>
        <p class="text-lg">4.具备团队管理，协调沟通能力</p>
        <p class="text-lg">5.可自行查找阅读英文文档。</p>
      </div>
      <div class="mx-4">
        <h1 class="mb-4 text-4xl text-gray-700 font-bold">工作经历</h1>
        <ul>
          <li class="mb-4">
            <h2 class="text-3xl font-medium text-gray-800">中软国际</h2>
            <div>
              <i class="bx bx-calendar text-sm" style="color: #666"></i>
              <small class="text-sm text-gray-600">2021年4月 - 至今</small>
            </div>
            <div class="mt-1">
              <div>
                <h3 class="text-2xl font-medium text-gray-800">
                  汇丰银行Taxi PLB Loan
                </h3>
                <p>
                  2021年,我在汇丰项目组基于Power
                  platform平台对银行系统中的一个车辆贷款的老系统进行重构。由于之前的EWF系统是很久之前的产品,已经没有人维护
                  所以我们在这个前提下开始了重构工作。
                </p>
                <p>
                  首先我们采用敏捷开发的流程,每日站会,运用jira将所有用户story拆分的非常明确,方便各个开发人员给出stroy
                  point。在这期间我完成了taxi-loan的所有UI设计以及页面响应式,其中也有用到react进行开发webresource的部分功能。
                </p>
                <p>
                  在经历了30个sprint的迭代后,我们逐渐复刻了老系统的所有功能,并对其中一些不方便的操作进行了优化。新系统受到了客户的一致好评。
                </p>
              </div>
            </div>
            <div class="mt-1">
              <div>
                <h3 class="text-2xl font-medium text-gray-800">Web resource</h3>
                <p>
                  2021年中旬，我们使用power platform
                  低代码平台开发相关功能时发现部分功能无法实现，所以我们在这个前提下引入了webresource的思想。采用monorepo结构将各个项目的所有
                  webresource代码集合在一个项目。使用react开发了相关功能，如taxi-loan的PDF生成导出，client-outreach-tracker中将json渲染成页面的功能等。
                </p>
                <p>
                  开发期间，我主要负责部分页面逻辑功能开发，以及代码的打包发布通过jenkins将代码打包到内部文件服务器，再通过pipeline将各个项目的包导入不同的Enviroment中。
                </p>
              </div>
            </div>
          </li>
          <li class="mb-4">
            <h2 class="text-3xl font-medium text-gray-800">北京迈道科技</h2>
            <div>
              <i class="bx bx-calendar text-sm" style="color: #666"></i>
              <small class="text-sm text-gray-600">2016年11月 - 2021年4月</small
              >
            </div>
            <div class="mt-1">
              <div>
                <h3 class="text-2xl font-medium text-gray-800">
                  中铁十四局风险管控系统
                </h3>
                <p>
                  风险管控系统是以建设工程项目安全生产风险管控为目的，将各个风险模块按等级分类，
                  动态管控。
                </p>
                <p>
                  我在项目中担任后台管理系统页面开发，以及APP端部分H5页面开发，采用Iview框架，vue2.0等相关技术进行开发与维护。当中使用了
                  jsonp解决了身份证读取器本地跨域的问题。
                </p>
              </div>
            </div>
            <div class="mt-1">
              <div>
                <h3 class="text-2xl font-medium text-gray-800">
                  路鹏达安全管控pc+部分app
                </h3>
                <p>
                  针对路鹏达公司进行定制化开发，包含大数据统计，用户风险管控，以及基础的组织架构，
                  用户管理，风险管理，监测管理等。
                </p>
                <p>
                  在项目中我使用了iview开发后台管理页面。开发了和维护了部分ionic页面。
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="mx-4">
        <h1 class="mb-4 text-4xl text-gray-700 font-bold">Skill</h1>
        <ul>
          <li class="mb-6 flex flex-wrap">
            <span
              class="mr-2 my-1 rounded-full border px-4 text-sm py-2 font-medium bg-gray-200"
              >TypeScript</span
            >

            <span
              class="mr-2 my-1 rounded-full border px-4 text-sm py-2 font-medium bg-gray-200"
              >JavaScript</span
            >
            <span
              class="mr-2 my-1 rounded-full border px-4 text-sm py-2 font-medium bg-gray-200"
              >VueJS</span
            >
            <span
              class="mr-2 my-1 rounded-full border px-4 text-sm py-2 font-medium bg-gray-200"
              >ReactJS</span
            >
            <span
              class="mr-2 my-1 rounded-full border px-4 text-sm py-2 font-medium bg-gray-200"
              >Tailwind css/Bootstrap</span
            >
            <span
              class="mr-2 my-1 rounded-full border px-4 text-sm py-2 font-medium bg-gray-200"
              >Power platform</span
            >
            <span
              class="mr-2 my-1 rounded-full border px-4 text-sm py-2 font-medium bg-gray-200"
              >Web Server</span
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</Layout>

<style></style>
